<div class="p-8">
  images will go here
  <div>
    <h1 class="my-7 font-sans font-extrabold text-4xl" style="color: #1a202c">
      PixelSqueeze
    </h1>
    <p class="text-justify text-gray-500 leading-2.5">
      PixelSqueeze is an image compression app, the perfect solution to optimize
      your images without compromising quality. Effortlessly reduce file sizes
      while preserving the visual integrity of your photos, making them easier
      to store, share and upload
    </p>
  </div>
</div>
