<div class="p-8">
  <div>
    <div class="flex w-48 h-32 justify-evenly bg-red-50">
      <div>
        <img class="w-1/4 rounded-lg" src="images/1.webp" alt="Image 1" />
      </div>

      <div class="w-1/4">
        <img class="rounded-lg w-48 h-32" src="images/2.webp" alt="Image 2" />
        <img
          class="w-48 h-32 rounded-lg"
          src="images/small.webp"
          alt="Image 3"
        />
      </div>

      <div class="w-1/4">
        <img class="w-48 h-32 rounded-lg" src="images/4.webp" alt="Image 4" />
        <img
          class="w-48 h-32 rounded-lg"
          src="images/mediuM.webp"
          alt="Image 5"
        />
      </div>

      <div>
        <img class="w-1/4 rounded-lg" src="images/long.webp" alt="Image 6" />
      </div>
    </div>
  </div>
  <div>
    <h1 class="my-7 font-sans font-extrabold text-4xl" style="color: #1a202c">
      PixelSqueeze
    </h1>
    <p class="text-justify text-gray-500 leading-2.5">
      PixelSqueeze is an image compression app, the perfect solution to optimize
      your images without compromising quality. Effortlessly reduce file sizes
      while preserving the visual integrity of your photos, making them easier
      to store, share and upload
    </p>
    <div style="background-color: #0362fc" class="p-4 my-7 flex justify-center">
      <span style="color: #fcfeff" class="font-light tracking-wide"
        >Upload an Image</span
      >
    </div>
  </div>
</div>
