<div
  style="background-color: #232127"
  class="px-8 py-20 text-white flex flex-col text-center items-center"
>
  <div>
    <h1 class="text-3xl font-bold mb-4">
      PixelSque<span style="color: #20c5f8">e</span>ze
    </h1>
  </div>
  <div class="my-7">
    <h1 class="font-semibold mb-2">Features</h1>
    <p style="color: #bbbbbb">Image Compression</p>
    <p style="color: #bbbbbb">Image Conversion</p>
    <p style="color: #bbbbbb">Intuitive UI</p>
  </div>
  <div class="my-7">
    <h1 class="font-semibold mb-2">Resources</h1>
    <p style="color: #bbbbbb">Blog</p>
    <p style="color: #bbbbbb">Developer</p>
    <p style="color: #bbbbbb">Support</p>
  </div>
  <div class="my-7">
    <h1 class="font-semibold mb-2">Company</h1>
    <p style="color: #bbbbbb">About</p>
    <p style="color: #bbbbbb">Our Team</p>
    <p style="color: #bbbbbb">Careers</p>
    <p style="color: #bbbbbb">Contact</p>
  </div>
  <div class="w-3/4 flex justify-evenly mt-7">
    <i class="fa fa-facebook" style="font-size: 2rem"></i>
    <i class="fa fa-instagram" style="font-size: 2rem"></i>
    <i class="fa fa-twitter" style="font-size: 2rem"></i>
    <i class="fa fa-pinterest" style="font-size: 2rem"></i>
  </div>
</div>
<div
  style="background-color: #232127"
  class="px-8 py-1 text-white text-center text-xs"
>
  &copy; {{ currentYear }} PixelSqueeze | Created By Paul | All Rights Reserved
</div>
