<div class="p-8">
  <h1 class="my-7 font-sans font-bold text-3xl" style="color: #1a202c">
    Any Enquiries, Feedbacks ?
  </h1>
  <div
    style="background-color: #20c5f8"
    class="p-4 my-7 flex justify-center rounded-lg"
  >
    <span style="color: #fcfeff" class="font-light tracking-wide"
      >Contact Us</span
    >
  </div>
</div>
<div
  style="background-color: #232127"
  class="px-8 py-20 text-white flex flex-col text-center"
>
  <div>
    <h1>PixelSque<span style="color: #20c5f8">e</span>ze</h1>
  </div>
  <div>
    <h1>Features</h1>
    <p>Image Compression</p>
    <p>Image Conversion</p>
    <p>Intuitive UI</p>
  </div>
  <div>
    <h1>Resources</h1>
    <p>Blog</p>
    <p>developer</p>
    <p>Support</p>
  </div>
  <div>
    <h1>Company</h1>
    <p>About</p>
    <p>Our Team</p>
    <p>Careers</p>
    <p>Contact</p>
  </div>
  <div>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-pinterest"></i>
  </div>
</div>
