<div
  style="background-color: #232127"
  class="px-8 py-20 text-white flex flex-col text-center items-center md:flex-row md:px-20 md:items-start md:text-left"
>
  <div class="md:w-1/5">
    <h1 class="text-3xl font-bold mb-4 cursor-default select-none">
      PixelSque<span class="text-customBlue">e</span>ze
    </h1>
  </div>
  <div class="my-7 md:my-0 md:w-1/5">
    <h1 class="font-semibold mb-2 cursor-default">Features</h1>
    <p class="cursor-pointer text-footerText hover:text-customBlue">
      Image Compression
    </p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">
      Image Conversion
    </p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">
      Intuitive UI
    </p>
  </div>
  <div class="my-7 md:my-0 md:w-1/5">
    <h1 class="font-semibold mb-2 cursor-default">Resources</h1>
    <p class="cursor-pointer text-footerText hover:text-customBlue">Blog</p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">
      Developer
    </p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">Support</p>
  </div>
  <div class="my-7 md:my-0 md:w-1/5">
    <h1 class="font-semibold mb-2 cursor-default">Company</h1>
    <p class="cursor-pointer text-footerText hover:text-customBlue">About</p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">Our Team</p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">Careers</p>
    <p class="cursor-pointer text-footerText hover:text-customBlue">Contact</p>
  </div>
  <div class="w-3/4 flex justify-evenly mt-7 md:w-1/5 md:mt-0">
    <i
      class="fa fa-facebook cursor-pointer hover:text-customBlue"
      style="font-size: 2rem"
    ></i>
    <i
      class="fa fa-instagram cursor-pointer hover:text-customBlue"
      style="font-size: 2rem"
    ></i>
    <i
      class="fa fa-twitter cursor-pointer hover:text-customBlue"
      style="font-size: 2rem"
    ></i>
    <i
      class="fa fa-pinterest cursor-pointer hover:text-customBlue"
      style="font-size: 2rem"
    ></i>
  </div>
</div>
<div
  style="background-color: #232127"
  class="px-8 py-1 text-white text-center text-xs"
>
  &copy; {{ currentYear }} PixelSqueeze | Created By Paul | All Rights Reserved
</div>
