<div class="flex justify-between items-center p-8 md:pt-10 md:px-20">
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    (click)="toggleMenu()"
    class="md:hidden"
  >
    <img class="w-9" src="images/sort.png" alt="hamburger icon" />
  </div>
  <div data-aos="fade-left" data-aos-duration="1000" class="flex items-center">
    <img class="w-14" src="images/pixelsqueeze.webp" alt="Pixel Squeeze Logo" />
    <h1 class="text-2xl font-bold ml-2 md:block hidden select-none">
      PixelSque<span style="color: #20c5f8">e</span>ze
    </h1>
  </div>
  <ul class="hidden md:flex text-gray-500 w-3/5 justify-between font-normal">
    <li class="cursor-pointer hover:text-black select-none">
      <a (click)="logDeskClick('/')">Home</a>
    </li>
    <li class="cursor-pointer hover:text-black select-none">
      <a (click)="logDeskClick('/upload')">Compression</a>
    </li>
    <li class="cursor-pointer hover:text-black select-none">Convertion</li>
    <li class="cursor-pointer hover:text-black select-none">About</li>
    <li class="cursor-pointer hover:text-black select-none">Services</li>
    <li class="cursor-pointer hover:text-black select-none">Contact</li>
  </ul>
</div>

<div
  [ngClass]="{
    'p-5': true,
    fixed: true,
    'top-0': true,
    'left-0': true,
    'h-full': true,
    'w-3/4': true,
    'bg-white': true,
    'shadow-lg': true,
    transform: true,
    'transition-transform': true,
    'duration-700': true,
    'ease-in-out': true,
    'z-50': true,
    'translate-x-0': menuOpen,
    'translate-x-[-100%]': !menuOpen
  }"
>
  <div class="flex flex-col mt-5">
    <div class="flex justify-end">
      <i (click)="toggleMenu()" class="fa fa-arrow-left text-gray-500"></i>
    </div>
    <div class="m-5 mt-10">
      <ul class="leading-[3] text-gray-500">
        <li>
          <a (click)="logClick('/')">Home</a>
        </li>
        <li>
          <a (click)="logClick('/upload')">Compression</a>
        </li>
        <li (click)="toggleMenu()">Convertion</li>
        <li (click)="toggleMenu()">About</li>
        <li (click)="toggleMenu()">Services</li>
        <li (click)="toggleMenu()">Contact</li>
      </ul>
    </div>
  </div>
</div>
