<div class="mx-4 py-16 px-8 text-white" style="background-color: #20c5f8">
  <h1 class="mb-7 font-sans font-bold text-3xl">Success stories</h1>
  <div>
    <div>
      <div><img src="" alt="" /></div>
      <div>
        <p class="text-start">
          Awesome developers, Very responsive, PixelSqueeze has the best
          developer experience of all image compressors i have ever used. Their
          support is reliable. Always listening to their community and fixing
          bugs
        </p>
      </div>
      <div class="my-6">
        <p>Name</p>
        <span style="color: #e4e9f0">Occupation</span>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="p-3 px-4 rounded-full bg-white">
        <i class="fa fa-arrow-left text-gray-500"></i>
      </div>
      <div class="p-3 px-4 rounded-full bg-white ml-3">
        <i class="fa fa-arrow-right text-gray-500"></i>
        <!-- comment -->
      </div>
    </div>
  </div>
</div>
